/*! base start */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: hsl(212, 45%, 89%);
}

/*! base end */

.component-box {
    min-height: calc(100vh - 1.875rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 18.125rem;
    padding: .9375rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    box-shadow: 0px 0px 0.9375rem 0.125rem rgba(0, 0, 0, 0.55);
}

.box img {
    width: 100%;
    border-radius: .9375rem;
}

h1 {
    font-size: 1.25rem;
    margin: 1.25rem .5625rem 1.25rem .5625rem;
}

.desc {
    color: hsl(220, 15%, 55%);
    font-size: .9375rem;
    font-weight: 400;
    margin: 0 .5625rem 1.875rem .5625rem;
}

/* ! footer start */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    height: 1.875rem;
}

.footer .icons i {
    margin: 3px;
    font-size: 20px;
    color: black;
}

.footer .icons i:hover {
    color: #0a58ca;
}

/* ! footer end */

/*! responsive */
@media (max-width: 420px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .component-box {
        min-height: calc(100vh - 3.75rem);
    }
    .box {
        max-width: 18.125rem;
    }
    .box img {
        max-width: 100%;
    }
    .footer {
        flex-direction: column;
        min-height: 60px;
    }
}